img {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 5px 10px #888888;
}
section {
  margin-left: 20px;
}
h2 {
  width: 200px;
  height: 40px;
}

p {
  width: 200px;
  height: 80px;
}

h1 {
  font-size: xx-large;
  margin-left: 10px;
}

select {
  margin-left: 10px;
}

main {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

div {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
