img {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 5px 10px #888888;
  margin-bottom: 10px;
}

h2 {
  width: 200px;
  height: 40px;
}

p {
  width: 200px;
  height: 100px;
}
h1 {
  font-size: xx-large;
  margin-left: 10px;
}

main {
  display: flex;
}

div {
  margin: 10px;
  flex-direction: column;
}
